.reurbBenefitsArea {
  margin-bottom: 300px;
}
.reurb_section_title {
  text-align: center;
  font-size: 3.5rem;
  color: #707070;
  margin-bottom: 80px;
}

/* TABLET */
@media (max-width: 1200px) {
  .reurbBenefitsArea {
    margin-bottom: 230px;
  }
  .reurb_section_title {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
}

/* SMARTPHONE */
@media (max-width: 767px) {
  .reurbBenefitsArea {
    margin-bottom: 170px;
  }
  .reurb_section_title {
    font-size: 1.875rem;
    margin-bottom: 50px;
  }
}
