.card {
    min-height: 450px;
}

.iconArea {
    height: 100px;
    padding-top: 32px;
}

.icone {
    display: block;
    margin: 0px auto;
}

.icone_politico {
    width: 46px;
    height: 55px;
}

.icone_dinheiro {
    width: 30px;
    height: 50px;
}

.icone_resultados {
    width: 58px;
    height: 40px;
}

.icone_processo {
    width: 51px;
    height: 55px;
}

.icone_tempo {
    width: 55px;
    height: 55px;
}

.card_title {
    text-align: center;
    font-weight: 500;
    color: #707070;
    font-size: 2rem;
}

.card_text {
    text-align: center;
    font-size: 1.625rem;
    padding: 24px;
    color: #707070;
}


/* TABLET */

@media (max-width: 1200px) {
    .card {
        min-height: 380px;
    }
    .card_title {
        font-size: 1.625rem;
    }
    .card_text {
        font-size: 1.625rem;
    }
}


/* SMARTPHONE */

@media (max-width: 767px) {
    .card {
        min-height: 210px;
    }
    .iconArea {
        height: 75px;
        padding-top: 16px;
    }
    .card_text {
        font-size: 1rem;
    }
}